.DS_Store
.idea/*
.venv/*
tests/__pycache__
tracker/__pycache__
.env
requirements.in

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*

# Build
build/
dist/
expense_tracker.spec
etracker.spec
